nav {
    width: 100%;
    margin-left: auto;
    background-color: grey;
    height: 130px;
    opacity: .8;
}

#DasFish {
    height: 60%;
    width: 20%;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

#cutter {
    float: right;
    height: 100%;
    width: 20%;
}

nav ul li {
    margin-top: 5px;
    margin-left: 10px;
    font-size: xx-large;
    padding: 1px;
    float: left;
    padding-top: 40px;
    padding-right: 100px;
}

h1,
p {
    text-align: center;
}

span {
    background-color: tan;
}

main {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url(https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/growingkelpf.jpg);
    background-attachment: fixed;
}

#frostedCookie {
    padding-top: 100px;
}

#advertise {
    margin-top: 42px;
    margin-right: 604px;
    float: left;
}

#addresses {
    float: left;
}

div {
    overflow: hidden;
    background-color: rgb(197, 165, 228);
    opacity: .9;
}

li {
    list-style-type: none;
}

span img {
    float: left;
}

button {
    float: right;
}

footer {
    height: 100px;
    text-align: center;
    background-color: grey;
}